<article id="main_ad">
	<h3 id="now">선착순 호수지정 계약중</h3>
	<hgroup>
		<h2>더 이상의 기회는 없다!<br />영통의 마지막 오피스텔</h2>
		<h1>영통역 아이파크</h1>
	</hgroup>
	<p>
		삼성디지털시티, 삼성전자나노시티 등 3개의 삼성전자와<br />
		경희대국제캠퍼스, 영통역까지 거느린 고수익 투자명품 - <br />
		더이상 누릴 수 없는 영통의 마지막 프리미엄을 만나십시오.
	</p>
	<h3 id="yt_ipark">
		오피스텔도 아이파크 클래스!! <br />
		<span class="small">영통역</span> <span class="red">I</span>PARK
	</h3>
</article>
<div class="jumbotron hero-unit">
	<h1><a href="tel://<%=t(:tel) %>"><%=t(:tel) %></a></h1>
	<p class="lead"><%=raw t(:home_main_description) %></p>
	<p><%=raw t(:home_main_title) %></p>
	<%=link_to '분양 6팀 정종호 과장','/home/popup',:class=>'modal_link btn btn-large btn-success',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
</div>